SSO_USERNAME=nip_atau_email_anda
SSO_PASSWORD=password_sso_anda
BASE_API_URL=https://fasih.bps.go.id/
SELECTED_KAB_ID=uuid_wilayah # Didapat dari Fasih (Dev Mode) dengan trigger filtering wilayah
MAX_LIMIT=1000

GD_CLIENT_SECRETS_FILE=client_secrets.json
GD_FOLDER_ID=isi_dengan_id_folder_drive_anda