SSO_USERNAME=nip_atau_email_anda
SSO_PASSWORD=password_sso_anda
BASE_API_URL=https://fasih.bps.go.id/
TARGET_KAB_CODE=empat_angka_kode # 3527

GD_CLIENT_SECRETS_FILE=client_secrets.json
GD_FOLDER_ID=isi_dengan_id_folder_drive_anda