# Python
__pycache__/
*.py[cod]
.venv/

# Environment Variables (SANGAT PENTING: jangan share .env berisi password/API key)
.env
!.env.example

# Microsoft Office Temporary Files
~$*

# Editor
.vscode/

# Scheduler Logs
logs_scheduler.txt
autorun.bat

# Hasil Scraper / Data (Opsional, jika tidak ingin menyimpan data mentah di Git)
*.xlsx
*.csv

# Google Cloud Credentials (SANGAT RAHASIA)
token.pickle
client_secrets.json